/* html {
  height: 100%;
  width: 100%;
}

#root {
  text-align: center;
} */

/* style.css */

/* Style the body with some basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* Style the header */
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    text-align: center;
    color: #555;
  }
  
  /* Style the buttons */
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
    
  }
  
  /* Style the form */
  form {
    display:flex;
    justify-content:center;
    text-align: center;
    margin: 20px;
  }
  
  input {
    padding: 5px;
    margin: 5px;
  }
  
  /* Style the score display */
  p {
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  /* Style the display of ballwise results */
  span {
    font-weight: bold;
  }
  
  /* Add a little spacing */
  br {
    margin: 10px 0;
  }
  .button-container {
    text-align: center;
  }
  