button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    
  }
  .button-container {
    text-align: center;
  }
  .submit {
    border-radius: 20%;
   
    background-color: green;
  }
 